<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.famous.restaurant">

    <!-- for using map -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 상세위치가져오기 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 대략적위치가져오기 -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="android.support.multidex.MultiDexApplication">
        <!--google map key-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCsfo3JXWdBkWDkMh64mjPZpJWkPYLPyBU" />

        <!-- 형진 activity -->
        <activity android:name=".MainActivity" />
        <activity android:name=".LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MypageActivity" />
        <!-- 보배 activity -->
        <activity android:name=".DetailActivity"/>
        <activity android:name=".TotalReviewActivity" />
        <activity android:name=".MapActivity"/>
        <activity
            android:name=".ImageActivity"
            android:label="@string/title_activity_image"
            android:theme="@style/AppTheme"></activity>
        <!-- 인영 activity -->
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".FindIDActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity
            android:name=".FindPwdActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog" />
        <activity android:name=".ChangePwdActivity"></activity>
        <activity android:name=".ReviewAddActivity"/>
    </application>

</manifest>